html,
body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.intro {
    top: 0;
    min-height: 25vh;
    padding-top: 25vh;
    /*   line-height: 100vh; */
    /*   width:100%;
    height:96vh;
    border:solid; */
}

#welcome-section h1 {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

#welcome-section p {
    margin-top: 10px;
    font-weight: 400;
    color: white;
}

/* Style the video: 100% width and height to cover the entire window */
#welcome-video {
    position: absolute;
    left: 0;
    bottom: 0;
    
    width: 100%; 
    height: 100%;
    z-index: -2;
}

#welcome-content {
    position: absolute;
    background: #1E1E1E;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#img-logo {
    width: 400px;
    height: auto;
}

@media screen and (max-width: 600px) {
    #img-logo {
        width: 67vw;
        height: auto;
    }
    #welcome-section h1 {
        font-size: 6.7vw;
        color: white;
    }
    #welcome-section p {
    }
  }