html,
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.content {
    /* The image used */
    background-image: url("https://www.concave.com/id/media/wysiwyg/typostores/typologancee/home-assets/large/hulk-banner.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.constructions {
    height: 100%;
    width: 100%;
    display: grid;
    grid-gap: 0px;
    grid-template-columns:3fr 2fr;
    grid-template-areas:
    "c-left c-left";
}

.constructions-left {
    grid-area: c-left;

    padding-top: 40vh;
    padding-bottom: 0;
    background-color:rgba(0, 0, 0, 0.5);;
    width: 100%;
    height: auto;

    overflow: hidden;
}

.constructions-left h1, p, a {
    color: white;
}

.constructions-left p, a {
    margin-top: 10px;
}

#img-logo {
    position: absolute;
    left: 0;
    top: 0;
    
    width: 9.375em;
    height: auto;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */

    .content {
        background-position: top 0px right -50vh;
    }

    .constructions {
        grid-template-areas:
        "c-left .";
    }

    .constructions-left {
        background-color:rgba(0, 0, 0, 1);
        
        overflow: hidden;
    }
}