:root {
	--cmc-base-size: 10px;
	--cmc-primary-color: #000000;
	--cmc-secondary-color: #FFFFFF;
	--cmc-active-color: #F35050;
	--cmc-checkout-color: #6BC313;
}
  
.custom-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-width: 0;
	padding: calc(var(--cmc-base-size) * 0.5);
	background-color: var(--cmc-primary-color);
	border: 1px solid var(--cmc-primary-color);
	border-radius: calc(var(--cmc-base-size) * 2);
	font: inherit;
	font-size: calc(var(--cmc-base-size) * 1.6);
	text-decoration: none;
	box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	transition: display 0.5s, opacity 0.5s;
}
  
.custom-button.custom-button--menu {
	justify-content: start;
	color: var(--cmc-secondary-color);
	background-color: transparent;
	border-color: transparent;
}

.custom-button.custom-button--add {
	color: var(--cmc-secondary-color);
}

.custom-button.custom-button--close img {
	height: 1.5rem;
}

.custom-button.custom-button--checkout {
	color: var(--cmc-secondary-color);
	background-color: var(--cmc-checkout-color);
	border-color: var(--cmc-checkout-color);
}

.custom-button.custom-button--continue {
	color: var(--cmc-secondary-color);
	background-color: var(--cmc-primary-color);
	border-color: var(--cmc-primary-color);
}

.cart-notification-wrapper .cart-notification {
	display: block;
	transform: translateY(0);
}

.bottom-navigation {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-areas: "nav-menu nav-button nav-cart";
	column-gap: calc(var(--cmc-base-size) * 1.5);
	align-items: center;
	position: fixed;
	bottom: calc(var(--cmc-base-size) * 1);
	left: calc(var(--cmc-base-size) * 1);
	right: calc(var(--cmc-base-size) * 1);
	max-width: 420px;
	height: calc(var(--cmc-base-size) * 6);
	margin: auto;
	padding: calc(var(--cmc-base-size) * 1);
	z-index: 5;
	border-radius: calc(var(--cmc-base-size) * 3);
	background-color: var(--cmc-primary-color);
	transition: background-color 0.5s;
}

.bottom-navigation div svg {
	height: calc(var(--cmc-base-size) * 4);
	width: auto;
	vertical-align: middle;
	cursor: pointer;
}

.bottom-navigation .bottom-navigation__menu {
	grid-area: nav-menu;
}

.bottom-navigation .bottom-navigation__button {
	grid-area: nav-button;
}

.bottom-navigation .bottom-navigation__cart {
	grid-area: nav-cart;
	cursor: pointer;
}

.bottom-navigation .bottom-navigation__cart div {
	height: calc(var(--cmc-base-size) * 4);
}

.bottom-navigation.bottom-navigation--product {
	background-color: var(--cmc-secondary-color);
}

.cart-icon {
	height: 100%;
	width: auto;
}

.cart-icon .cart-icon__background {
	fill: var(--cmc-secondary-color);
}

.cart-icon .cart-icon__path {
	fill: var(--cmc-primary-color);
}

.bottom-navigation.bottom-navigation--product .cart-icon .cart-icon__background {
	fill: var(--cmc-primary-color)
}

.bottom-navigation.bottom-navigation--product .cart-icon .cart-icon__path {
	fill: var(--cmc-secondary-color);
}

.side-menu {
	position: fixed;
	bottom: calc(var(--cmc-base-size) * 1);
	left: calc(var(--cmc-base-size) * 1);
	right: calc(var(--cmc-base-size) * 1);
	height: auto;
	min-height: calc(var(--cmc-base-size) * 6);
	max-height: 60vh;
	max-width: 420px;
	padding-bottom: calc(var(--cmc-base-size) * 6);
	margin: auto;
	border-radius: calc(var(--cmc-base-size) * 3);
	background-color: var(--cmc-primary-color);
	box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.5);
	z-index: 3;
	overflow: hidden;
	transition: max-height 0.5s;
}

.side-menu h2 {
	color: var(--cmc-secondary-color);
	text-align: center;
}

.side-menu.side-menu--hide {
	max-height: calc(var(--cmc-base-size) * 6);
}

.side-menu .side-menu__nav {
	padding: calc(var(--cmc-base-size) * 2) 0;
}

.side-menu .side-menu__list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.side-menu .side-menu__list li {
	position: relative;
	cursor: pointer;
}

.side-menu .side-menu__item {
	display: flex;
	justify-content: center;
	padding: calc(var(--cmc-base-size) * 1) calc(var(--cmc-base-size) * 2);
	font-size: calc(var(--cmc-base-size) * 1.6);
	color: var(--cmc-secondary-color);
	text-decoration: none;
}

.side-menu .side-menu__item.side-menu__item--active {
	color: var(--cmc-active-color);
}

.side-menu .side-menu__item:hover {
	background-color: calc(var(--cmc-primary-color)+50);
}

.side-menu .side-menu__arrow {
	position: absolute;
	right: calc(var(--cmc-base-size) * 2);
	top: 50%;
	width: calc(var(--cmc-base-size) * 2.5);
	transform: translateY(-50%);
}

.side-menu .side-menu__close {
	position: absolute;
	top: calc(var(--cmc-base-size) * 1);
	right: calc(var(--cmc-base-size) * 1.5);
	padding: calc(var(--cmc-base-size) * 1);
	cursor: pointer;
	z-index: 3;
}

.side-menu .side-menu__back {
	position: absolute;
	top: calc(var(--cmc-base-size) * 1);
	left: calc(var(--cmc-base-size) * 1.5);
	padding: calc(var(--cmc-base-size) * 1);
	cursor: pointer;
	z-index: 3;
}

.side-menu .side-menu__close img,
.side-menu .side-menu__back img {
	height: calc(var(--cmc-base-size) * 2.5);
	width: calc(var(--cmc-base-size) * 2.5);
}

.side-menu .side-menu__sub {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	transition: transform 0.5s;
}

.side-menu .side-menu__sub h2 {
	margin: calc(var(--cmc-base-size) * 1.6) 0;
	font-size: calc(var(--cmc-base-size) * 2.5);
	line-height: 1.4;
}

.quick-cart {
	position: fixed;
	bottom: calc(var(--cmc-base-size) * 1);
	left: calc(var(--cmc-base-size) * 1);
	right: calc(var(--cmc-base-size) * 1);
	height: auto;
	min-height: calc(var(--cmc-base-size) * 6);
	max-height: 60vh;
	max-width: 420px;
	padding-bottom: calc(var(--cmc-base-size) * 6);
	margin: auto;
	border-radius: calc(var(--cmc-base-size) * 3);
	background-color: var(--cmc-secondary-color);
	box-shadow: none;
	z-index: 4;
	overflow: hidden;
	transition: max-height 0.5s, background-color 0.5s, box-shadow 0.5s;
}

.quick-cart--show {
	box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.5);
}

.quick-cart h2 {
	margin: calc(var(--cmc-base-size) * 1.6) 0;
	font-size: calc(var(--cmc-base-size) * 2.5);
	text-align: center;
	line-height: 1.4;
	color: var(--cmc-primary-color);
}

.quick-cart .quick-cart__wrapper {
	padding: calc(var(--cmc-base-size) * 1) calc(var(--cmc-base-size) * 2);
}

.quick-cart .quick-cart__title {
	font-size: calc(var(--cmc-base-size) * 2);
}

.quick-cart .quick-cart__total {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.quick-cart .quick-cart__total h3 {
	margin: calc(var(--cmc-base-size) * 1) 0;
	font-size: calc(var(--cmc-base-size) * 1.6);
	line-height: 1;
	color: var(--cmc-primary-color);
}

.quick-cart .quick-cart__empty {
	text-align: center;
}

.quick-cart .quick-cart__empty h3 {
	margin: calc(var(--cmc-base-size) * 1) 0;
	font-size: calc(var(--cmc-base-size) * 1.8);
	line-height: 1;
	color: var(--cmc-primary-color);
}

.quick-cart .quick-cart__empty img {
	height: calc(var(--cmc-base-size) * 8);
}

.quick-cart .quick-cart__button {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: calc(var(--cmc-base-size) * 1.5);
}

.quick-cart .quick-cart__close {
	position: absolute;
	top: calc(var(--cmc-base-size) * 1.5);
	right: calc(var(--cmc-base-size) * 1.5);
	padding: calc(var(--cmc-base-size) * 1.5);
	cursor: pointer;
}

.quick-cart .quick-cart__close .icon {
	height: calc(var(--cmc-base-size) * 2.5);
	width: calc(var(--cmc-base-size) * 2.5);
}

.quick-cart-item {
	display: grid;
	grid-template-columns: auto 1fr auto;
	column-gap: calc(var(--cmc-base-size) * 1);
	align-items: center;
	margin-bottom: calc(var(--cmc-base-size) * 1);
}

.quick-cart-item .quick-cart-item__img-wrapper {
	position: relative;
}

.quick-cart-item .quick-cart-item__img {
	height: calc(var(--cmc-base-size) * 5);
	width: calc(var(--cmc-base-size) * 5);
	border-radius: calc(var(--cmc-base-size) * 1);
	vertical-align: middle;
}

.quick-cart-item .quick-cart-item__delete {
	position: absolute;
	top: calc(var(--cmc-base-size) * -1.5);
	left: calc(var(--cmc-base-size) * -1.5);
	height: calc(var(--cmc-base-size) * 4);
	padding: calc(var(--cmc-base-size) * 1);
	cursor: pointer;
}

.quick-cart-item .quick-cart-item__detail {}

.quick-cart-item .quick-cart-item__detail p {
	margin: 0;
	line-height: 1;
}

.quick-cart-item .quick-cart-item__qty p {
	margin: 0;
	margin-top: calc(var(--cmc-base-size) * 0.2);
	line-height: 1;
	text-align: right;
}

.cart-item-qty {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	justify-content: center;
	font-size: calc(var(--cmc-base-size) * 1.2);
	line-height: 1;
}

.cart-item-qty__min {
	padding: calc(var(--cmc-base-size) * 0.6) calc(var(--cmc-base-size) * 1);
	border: 1px solid gray;
	border-right: 0;
	border-radius: 5px 0px 0px 5px;
	cursor: pointer;
}

.cart-item-qty__plus {
	padding: calc(var(--cmc-base-size) * 0.6) calc(var(--cmc-base-size) * 1);
	border: 1px solid gray;
	border-left: 0;
	border-radius: 0px 5px 5px 0px;
	cursor: pointer;
}

.cart-item-qty__qty {
	padding: calc(var(--cmc-base-size) * 0.6) calc(var(--cmc-base-size) * 1.5);
	border: 1px solid gray;
}

@media only screen and (min-width: 992px) {
	.bottom-navigation,
	.quick-cart,
	.side-menu {
		display: none;
	}
}

.bounce-in {
	animation: bounce-in 1s ease;
}

@keyframes bounce-in {
	0% {
		opacity: 0;
		transform: translateY(200px);
	}
	40% {
		opacity: 1;
		transform: translateY(-30px);
	}
	60% {
		opacity: 1;
		transform: translateY(20px);
	}
	70% {
		opacity: 1;
		transform: translateY(-10px);
	}
	80% { transform: translateY(5px); }
	100% { transform: translateY(0); }
}
